body {

background-image: url(..//images/navidas1.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
overflow: hidden;
background-size: cover;
text-align: center;
}


div {
color: yellow;
font-size: 10px;
}


img {
    max-width: 100%;
    height: auto;
}



#estrella1 {

position: absolute;
left: 50%;
animation-name: estrella1;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella2 {

position: absolute;
left: 30%;
top: 10%;
animation-name: estrella2;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella3 {

position: absolute;
left: 70%;
top: 5%;
animation-name: estrella3;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella4 {

position: absolute;
left: 10%;
top: 12%;
animation-name: estrella4;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella5 {

position: absolute;
left: 90%;
top: 20%;
animation-name: estrella5;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella6 {

position: absolute;
left: 60%;
top: 30%;
animation-name: estrella6;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella7 {

position: absolute;
left: 45%;
top: 12%;
animation-name: estrella7;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella8 {
animation-name: estrella8;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
position: absolute;
left: 100%;
top: 12%;
}

#estrella9 {

position: absolute;
left: 100%;
top: 22%;
animation-name: estrella9;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella10 {

position: absolute;
left: 55%;
top: 17%;
animation-name: estrella10;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella11 {

position: absolute;
left: 70%;
top: 18%;
animation-name: estrella11;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}

#estrella12 {

position: absolute;
left: 30%;
top: 24%;
animation-name: estrella12;
animation-duration: 3s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}


#nina {
    
    position: absolute;
    animation-name: nina;
    animation-duration: 9s;
	 width: 5%;
	 animation-iteration-count: infinite;
    animation-fill-mode: forwards;
	 top: 78%;
	 left: 75%;
   z-index: 1;
	
}





#pinguino {
    
    position: absolute;
    animation-name: pinguino;
    animation-duration: 5s;
	 width: 5%;
	 animation-iteration-count: infinite;
    animation-fill-mode: forwards;
	 top: 83%;
	 left: 15%;
	 z-index: 50;
	
}

#papa {
position: absolute;
max-width: 7%;
right: 1px;
animation-name: papa;
animation-duration: 10s;
animation-fill-mode: forwards;
z-index: 100;
}


#papanoel {
position: absolute;
max-width: 15%;
animation-name: papanoel;
animation-duration: 25s;
animation-delay: 3s;
animation-fill-mode: forwards;
opacity: 0%;
}

#regalo {
position: absolute;
max-width: 4%;
animation-name: regalo;
animation-duration: 7s;
animation-fill-mode: forwards;
animation-delay: 7s;
opacity: 0%;
}

#regalo1 {
  position: absolute;
  max-width: 4%;
  animation-name: regalo1;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-delay: 8s;
  opacity: 0%;
  }

  #regalo3 {
    position: absolute;
    max-width: 3%;
    animation-name: regalo3;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-delay: 9s;
    opacity: 0%;
    }

    #regalo4 {
      position: absolute;
      max-width: 3%;
      animation-name: regalo4;
      animation-duration: 8s;
      animation-fill-mode: forwards;
      animation-delay: 10s;
      opacity: 0%;
      }

      #regalo2 {
        position: absolute;
        max-width: 6%;
        animation-name: regalo2;
        animation-duration: 8s;
        animation-fill-mode: forwards;
        animation-delay: 11.5s;
        opacity: 0%;
        }


@keyframes pinguino {

50%{
	top: 86%;
	left: 70%;
}


}




@keyframes estrella1 {

80% {
opacity: 0%;
}

}

@keyframes estrella2 {

50% { opacity: 0%;
opacity: 0%;
}
}

@keyframes estrella2 {

50% {
opacity: 0%;
}
}

@keyframes estrella3 {

10% {
opacity: 0%;
 opacity: 0%;
}
}

@keyframes estrella4 {

40% {
opacity: 0%;
}
}

@keyframes estrella5 {

20% {
opacity: 0%;
}
}
@keyframes estrella6 {

80% {
opacity: 0%;
}
}

@keyframes estrella7 {

60% {
opacity: 0%;
}
}

@keyframes estrella8 {

10% {
opacity: 0%;
}
}

@keyframes estrella9 {

30% {
opacity: 0%;
}
}

@keyframes estrella10 {

75% {
opacity: 0%;
}
}

@keyframes estrella11 {

42% {
opacity: 0%;
}
}

@keyframes estrella12 {

12% {
opacity: 0%;
}
}

@keyframes papa {

0%{
right: -200px;
top: 50px;
}


100% {
right: 2900px;
top: 50px;

}
}

@keyframes papanoel {

0%{
left: -500px;
top: 100px;
opacity: 100%;
}

80%{
left: 1500px;
top: 100px;
opacity: 100%;
}

100% {
left: 1500px;
top: 100px;
opacity: 0%;
}
}

@keyframes nina {

50%{
	top: 76%;
	left: 27%;
}
}


@keyframes regalo {

0%{
  top: 30%;
  left: 17%;
  opacity: 100%;
}
100%{
  top: 70%;
  left: 17%;
  opacity: 100%;

}

}

@keyframes regalo1 {

  0%{
    top: 30%;
    left: 35%;
    opacity: 100%;
  }
  100%{
    top: 70%;
    left: 35%;
    opacity: 100%;
  
  }
  
  }

  @keyframes regalo3 {

    0%{
      top: 30%;
      left: 55%;
      opacity: 100%;
    }
    100%{
      top: 75%;
      left: 55%;
      opacity: 100%;
    
    }
    
    }

    @keyframes regalo4 {

      0%{
        top: 30%;
        left: 65%;
        opacity: 100%;
      }
      100%{
        top: 73%;
        left: 65%;
        opacity: 100%;
      
      }
      
      }

      @keyframes regalo2 {

        0%{
          top: 30%;
          left: 85%;
          opacity: 100%;
        }
        100%{
          top: 68%;
          left: 85%;
          opacity: 100%;
        
        }
        
        }

        



  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 50%;
    }

h1 {
  display: inline-block;
  color: rgb(221, 221, 221);
  font-family: 'Twinkle Star', cursive;
  font-size: 500%; 
  text-shadow: .03em .03em 0 rgb(21, 126, 0);
  }
  
 #texto {
  position: absolute;
  animation-name: texto;
  animation-duration:15s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
 opacity: 0%;
z-index: 10;
 } 

@keyframes texto {

0% {
left: -50%;
opacity: 100%;
}

100%{
  left: 30%;
  opacity: 100%;
}
}